.carousel-caption {
    position: absolute;
    top: 35%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #1c5792; 
    text-align: center;
    font-size: 35px; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); 
    bottom: 20%; 
    text-transform: uppercase;
    width:700px;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
   
}
.carousel img {
    object-fit: cover; 
}
